<%- include("header") -%>


<h2>This is an about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi unde assumenda, quis quo, pariatur dicta quaerat sapiente laudantium nobis, asperiores voluptatum numquam commodi maxime laboriosam aliquam provident quidem quam doloribus voluptatem architecto natus beatae?</p>


<%- include("footer") -%>
